
.container{
    display: flex;
    flex-flow: row wrap;
}
.item{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.item span {
    font-size: 12px;
}
h6{
    margin: 0;
}
.item > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
